In [2]:
import numpy as np

import pandas as pd

In [3]:
from pandas import Series,DataFrame

In [4]:
# 创建
# Series是一维的数据
s = Series(data = [120,136,128,99],index = ['Math','Python','En','Chinese'])
s

Math       120
Python     136
En         128
Chinese     99
dtype: int64

In [5]:
s.shape

(4,)

In [6]:
v = s.values
v

array([120, 136, 128,  99], dtype=int64)

In [7]:
type(v)

numpy.ndarray

In [8]:
s.mean()

120.75

In [9]:
s.max()

136

In [10]:
s.std()

15.903353943953666

In [11]:
s.pow(2)

Math       14400
Python     18496
En         16384
Chinese     9801
dtype: int64

In [12]:
# DataFrame是二维的数据
# excel就非常相似
# 所有进行数据分析，数据挖掘的工具最基础的结果：行和列，行表示样本，列表示的是属性
df = DataFrame(data = np.random.randint(0,150,size = (10,3)),index = list('abcdefhijk'),columns=['Python','En','Math'])
df

   Python   En  Math
a     113  116    75
b      19  145    23
c      57  107   113
d      95    3    66
e      28  121   120
f     141   85   132
h     124   39    10
i      80   35    17
j      68   99    31
k      74   12    11

In [13]:
df.shape

(10, 3)

In [15]:
v = df.values
v

array([[113, 116,  75],
       [ 19, 145,  23],
       [ 57, 107, 113],
       [ 95,   3,  66],
       [ 28, 121, 120],
       [141,  85, 132],
       [124,  39,  10],
       [ 80,  35,  17],
       [ 68,  99,  31],
       [ 74,  12,  11]])

In [16]:
df.mean()

Python    79.9
En        76.2
Math      59.8
dtype: float64

In [17]:
df.max()

Python    141
En        145
Math      132
dtype: int32

In [18]:
df

   Python   En  Math
a     113  116    75
b      19  145    23
c      57  107   113
d      95    3    66
e      28  121   120
f     141   85   132
h     124   39    10
i      80   35    17
j      68   99    31
k      74   12    11

In [19]:
df.mean(axis = 0)

Python    79.9
En        76.2
Math      59.8
dtype: float64

In [20]:
df.mean(axis = 1)

a    101.333333
b     62.333333
c     92.333333
d     54.666667
e     89.666667
f    119.333333
h     57.666667
i     44.000000
j     66.000000
k     32.333333
dtype: float64